:host {
  display: block;
  height: 100vh;
}

.carousel {
  height: 100%;
  overflow: hidden;

  & .container {
    white-space: nowrap;
    list-style: none;
    height: 100%;
    padding: 0px;
    font-size: 0;
  }

  & .panel {
    height: 100%;
    min-height: 200px;
    width: 100%;
    display: inline-block;
  }
}
